<!DOCTYPE html>
<html>
<head>
	<title> Trang Đăng Tin</title>
	<link rel="stylesheet" type="text/css" href="dangtin.css">
	<link rel="stylesheet" type="text/css" href="/css/header.css">
	<link rel="stylesheet" type="text/css" href="/css/footer.css">
	<link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Roboto+Slab:400,700|Material+Icons" />
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
	<meta charset="utf-8">
	<style>
            select{

                height: 40px;
            }
            li{
                float: right;
            }
             a{

				font-family:arial;
				font-size:15px;
                display: inline;
         		color:black;
                text-align: center;
                padding: 16px;
                text-decoration: none;
                width: 80px;

            }
             a:hover {
                color: orange;
                text-decoration: none

            }
            #search{
             text-align: center;
             background: #262637;
             margin-top:10px;
            }
            .footer {
                padding: 10px;
                color: black;
                background: #E9E9E9;
            }
            #logo{
            	font-family:Comic sans MS;
            	font-weight:600;
            	font-size:18px;
            	text-decoration: none;
            	color:black;
            	display:inline;
            	margin-left: 130px;
            	padding-right:200px;
            }
            #logo2{
            	font-family:Comic sans MS;
            	font-weight:600;
            	font-size:18px;
            	text-decoration: none;
            	color:black;
            	display:inline;
            	padding-right:200px;
            }
            #header{
            	margin-top: 20px
            }
            ul{
            	list-style: none;
            	margin-top:10px;
            }
         	#ndfooter{
         		margin-left:100px;
         	}


        </style>
	</head>

<body>
		<% var user;%>
		  <%- include('./partials/header.ejs', {user});%>
  <div class="maindiv" style="padding-top:95px;">
	<table>
		<tr>
			<td width="200px" valign="top" ></td>
			<td width="700px" valign="top">

		<table border="1"  width="680px">
			<tr>
				<td class="title"><p>THÔNG TIN CƠ BẢN</p></td>
			</tr>
			<tr>
				<td class="noidung">
					<form method="post"  enctype="multipart/form-data">
					<p></p>
					<p id="warning">Là người văn minh và tôn trọng người xem, hãy viết nội dung bằng tiếng việt có dấu !!!
					</p>
					<p>Tiêu đề tin<span style="color:red"> (*)</span>
						<center><input type="text" name="tieude" size="88" class="textbox" placeholder="Hãy đặt tiêu đề đẩy đủ nghĩa, khách sẽ quan tâm hơn"/></center>
					</p>
					<p>
						<% var now = Date.now()%>
						<input type="hidden" name="ID" value="<%=collectioncount+1%>">
						<input type="hidden" name="ngaydang" value= <%=now%>>
						Loại chuyên mục<span style="color:red"> (*)</span>
						<select name="loai" class="textbox">
							<option selected>Chọn loại chuyên mục--</option>
							<option value="phongtro">Phòng trọ, nhà trọ</option>
							<option value="nhanguyencan">Nhà thuê nguyên căn</option>
							<option value="canho">Căn Hộ</option>
							<option value="canho">Khách Sạn</option>

						</select>
						&emsp;&emsp;&emsp;&emsp; Số điện thoại <input type="text" name="Tieu de tin" size="10" class="textbox"/>
					</p>
					<p>
						Giá cho thuê<span style="color:red"> (*)</span><br/><br/>
						<input type="text" name="gia" size="30" class="textbox" placeholder="Giá cho thuê (VNĐ)"/>

					</p>
					<p>
						Diện tích<span style="color:red"> (*)</span>&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;
						Đối tượng cho thuê<span style="color:red"> (*)</span><br/>
						<br/>
							<input type="text" name="dientich" size="30" class="textbox" placeholder="Nhập diện tích (m2)"/>&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;
						<select name="doituongchothue" id="dropdowndoituongchothue" class="textbox">
							<option value="Nam/Nữ" selected>Nam/Nữ</option>
							<option value="Nam" selected>Nam</option>
							<option value="Nữ">Nữ</option>
						</select>
					</p>
				</td>
			</tr>
		</table><br/>
		<table border="1" width="680px">
			<tr>
				<td class="title"><p>Địa chỉ</p></td>
			</tr>
			<tr>
				<td class="noidung">
					<p>Tỉnh/ Thành phố<span style="color:red"> (*)</span>&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;Quận/ Huyện<span style="color:red"> (*)</span></p>
					<select name="tinhthanh" id="dropdowntinhthanhpho">
							<option selected>Chọn Tỉnh/TP--</option>
							<% for(var i=0;i<tinhthanhinfor.length;i++){%>
								<option value="<%=tinhthanhinfor[i].tinhthanh%>"><%=tinhthanhinfor[i].tinhthanh%></option>
								<%}%>
						</select>
					&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;
					<select name="quanhuyen" id="dropdownquanhuyen">
							<option selected>Chọn Quận/Huyện--</option>
							<% for(var i=0;i<quanhuyeninfor.length;i++){%>
								<option value="<%=quanhuyeninfor[i].quanhuyen%>"><%=quanhuyeninfor[i].quanhuyen%></option>
								<%}%>
						</select>
					<p>Địa chỉ chính xác<span style="color:red"> (*)</span></p>
					<center><input type="text" name="diachi" size="88" class="textbox" placeholder="Hãy nhập địa chỉ chính xác để khách hàng đễ tìm hơn"/></center>
					<p>Bản đồ<span style="color:red"> (*)</span></p>
					<p id="notify1">Để tăng độ tin cậy và tin rao được nhiều người quan tâm hơn, hãy sửa vị trí tin rao của bạn trên bản đồ bằng cách kéo icon tới đúng vị trí của tin rao</p>
					<p><iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d15672.756938112065!2d106.79391692508545!3d10.873207178077381!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x317527587e9ad5bf%3A0xafa66f9c8be3c91!2sUniversity+of+Information+Technology+VNU-HCM!5e0!3m2!1sen!2s!4v1551942104686" width="650" height="350" frameborder="0" style="border:0" allowfullscreen></iframe></p>
				</td>
			</tr>
		</table><br/>
		<table border="1" width="680px">
			<tr>
				<td class="title"><p>THÔNG TIN MỔ TẢ</p></td>
			</tr>
			<tr>
				<td class="noidung">
					<p><br/>
						Máy Lạnh<span style="color:red"> (*)</span>
						<select name="maylanh" class="textbox" >
							<option value="0" selected></option>
							<option value="0">Không</option>
							<option value="1">Có </option>



						</select>

						&emsp;&emsp;&emsp;Wifi<span style="color:red"> (*)</span>
							<input type="text" name="wifi" size="28" class="textbox" placeholder="Giá (VNĐ)"/>

						</p>
					<p id="notify2">Giới thiêu mô tả về tin đăng của bạn. Ví dụ: khu nhà có vị trí thuận lợi: Gần công viên, gần trường học... Tổng diện tích 52m2, đường đi ô tô vào tận cửa</p>
					<p>Nội dung<span style="color:red"> (*)</span></p>
					<center>
					<textarea rows="10" cols="90" name="mota">

					</textarea>
				</center>
				</td>
			</tr>
		</table><br/>
		<table border="1" width="680px">
			<tr>
				<td class="title"><p>HÌNH ẢNH</p></td>
			</tr>
			<tr>
				<td class="noidung">
					<p id="notify3">Tin đăng có hình ảnh rõ ràng sẽ được xem và gọi gấp nhiều lần so với tin rao không có ảnh. Hãy đăng ảnh để được giao dịch nhanh chóng!
					</p>
					<center>
						<input type="file" name="imgphong" accept="image/*" /><br/>
						<input type="file" name="imgphong" accept="image/*" /><br/>
						<input type="file" name="imgphong" accept="image/*" /><br/>
						<input type="file" name="imgphong" accept="image/*" /><br/>
					<!--Muốn thay thế ảnh xem hd link này: https://codepen.io/adamrifai/pen/YXdEwz-->
				</center>
				</td>
			</tr>
		</table>
		<br/>
		<input type="submit" value="ĐĂNG TIN NGAY" name="Dang tin" class="btn btn-danger" style="margin-left: 220px"/>
	</form>
</td>
	<td width=300px valign="top">
		<table border="1" width="300px">
			<tr>
				<td class="title"><p>HƯỚNG DẪN ĐĂNG TIN</p></td>
			</tr>
			<tr>
				<td>
					<ul>
						<strong><li>Thông tin có dấu (*) là bắt buộc.</li>
						<li>Nội dung phải viết bằng tiếng Việt có dấu</li>
						<li>Tiêu đề tin không dài quá 100 kí tự</li></strong>
						<li>Để tăng độ tin cậy và tin rao được nhiều người quan tâm hơn, hãy sửa vị trí tin rao của bạn trên bản đồ bằng cách kéo icon tới đúng vị trí của tin rao.</li>
						<li>Tin đăng có hình ảnh rõ ràng sẽ được xem và gọi gấp nhiều lần so với tin rao không có ảnh. Hãy đăng ảnh để được giao dịch nhanh chóng!</li>
				</ul>
			</td>
				<tr>
		</table>
	</td>
	</tr>
</table>
</div>
<br/>
<%- include('./partials/footer.ejs') %>


</body>
</html>
