<!DOCTYPE html>
<html>
<head>
  <title>Tìm phòng</title>
<link  type = "text/css" href = "index.css" rel = "stylesheet" media = "screen">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
<link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Roboto+Slab:400,700|Material+Icons" />
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css">
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
<link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Comfortaa" />

<script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
<script src="fullclip.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

<!--Thu vien aos-->
  <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
  <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>


  <title><img src="../folder/logo1.png" ></img>Tìm phòng nhanh</title>
<script src="https://unpkg.com/react@16.4.2/umd/react.production.min.js"></script>
<script src="https://unpkg.com/react-dom@16.4.2/umd/react-dom.production.min.js"></script>
<script src="https://unpkg.com/babel-standalone@6.26.0/babel.min.js"></script>

<script src="https://unpkg.com/axios/dist/axios.min.js"></script>

 <style>
            select{
               text-indent: 90px;
                height: 40px;
                box-shadow: 1px 1px 5px #330033
            }
            select:hover{
              background-color: #EFF0F1;
            }

            #selectloaiphong{
              text-indent:90px;
            }
            #selectmucgia{
                text-indent:90px;
            }

            li{
                float: right;
            }
             a{

				font-family:arial;
				font-size:15px;
                display: inline;
         		color:black;
                text-align: center;
                padding: 16px;
                text-decoration: none;
                width: 80px;

            }
             a:hover {
                color: orange;
                text-decoration: none

            }




            #search{
            height:660px;
             text-align: center;
             background-image: url("https://webcdn.executivecentre.com.cn/wp-content/uploads/2018/05/2018_5_2_Blog-image.jpg");
             background-size: cover;
             padding-top:95px;
             -moz-box-shadow:    0px 0px 5px 2px #282a2d;
             -webkit-box-shadow: 0px 0px 5px 2px #282a2d;
            }

            .col-md-12 {
                width:100%;
                color: black;
                background: #E9E9E9;}
            }
            #logo1{
            	font-family::Comfortaa;
            	font-weight:600;
            	font-size:18px;
            	text-decoration: none;
            	color:black;
            	display:inline;
            	margin-left: 30px;
            	padding-right:200px;
            }
            #logo2{
            	font-family:Comfortaa;
            	font-weight:600;
            	font-size:18px;
            	text-decoration: none;
            	color:#008000;
            	display:inline;
              margin-left: 40px;
            	padding-right:200px;
            }
            .header{
              /*background-image: url("http://sohanews.sohacdn.com/thumb_w/660/2016/xin-dung-than-phien-viet-nam-cham-chap-8-1468473294003-crop-1468473305009-1468492422237-0-0-306-600-crop-1468492471123.jpg");*/
              border-bottom: 1px solid black;
              box-shadow: 5px 5px 15px #2F4F4F;
              background-color: white;
              background-size: cover;
              height:62px;
              position: fixed;
              z-index:1;
              width:100%;
            }

            ul{
            	list-style: none;
            	margin-top:10px;
            }
         	#ndfooter{
         		margin-left:50px;
         	}
    #kq{
    	margin-top: 1em;
    }

        </style>
</head>
<body>
  <script>
    AOS.init();
  </script>
	<script>
		function changeImage(){
			if(document.getElementById("thatim").src.match("anh/tim1.png"))
			{
			document.getElementById("thatim").src = "anh/tim2.png";
			}
		 	else if(document.getElementById("thatim").src.match("anh/tim2.png"))
		 	{
			document.getElementById("thatim").src = "anh/tim1.png";
			}
		}
	</script>
  <% var user;%>
	  <%- include('./partials/header.ejs', {user});%>

        <div id="search" data-aos="fade-up" data-aos-duration="1000" >
        <p style="color:white;font-family:Comfortaa; font-size:47px;margin-top:130px;"><b>Chọn loại phòng bạn muốn tìm</b></p>
          <form action="/" method="post">
        	<ul class="btn-group round">
            <li><select class="button" name="loai" id="selectloaiphong" style="width: 310px;height: 50px">
                <option class="lt"  value="" disabled selected>Loại Phòng</option>
                <option class="lt" value="phongtro">Phòng trọ</option>
                <option class="lt" value="nhanguyencan">Nhà nguyên căn</option>
                <option class="lt"value="canho">Căn hộ</option>
                <option class="lt"value="khachsan">Khách sạn</option>

            </select></li>
            <li><select  class="button" name="tinhthanh" style="width: 310px;height: 50px; margin-left:10px;">
                    <option  value="" disabled selected>Tỉnh/Thành phố</option>
                    <% for(var i=0;i<tinhthanhinfor.length;i++){%>
                      <option value="<%=tinhthanhinfor[i].tinhthanh%>"><%=tinhthanhinfor[i].tinhthanh%></option>
                      <%}%>
                </select></li>
            <li><select  class="button" name="quan" style="width: 310px;height: 50px;margin-left:10px; text-align:center; ">
                <option  value="" disabled selected>Quận/Huyện</option>
              <% for(var i=0;i<quanhuyeninfor.length;i++){%>
                <option value="<%=quanhuyeninfor[i].quanhuyen%>" style="color:black;"><%=quanhuyeninfor[i].quanhuyen%></option>
                <%}%>
            </select></li>
            <li><select  class="button" name="mucgia" id="selectmucgia" style="width: 310px;height: 50px;margin-left:10px;">
                <option  value="" disabled selected>Mức Giá</option>
                <option value="muc 1">Dưới 2.000.000</option>
                <option value="muc 2">2.000.000 - 5.000.000</option>
                <option value="muc 3">Trên 5.000.000</option>
            </select></li>
            <!--<li><button id="searchButton"><b>Tìm Kiếm <i class="fa fa-search"></i></button></li>-->
            </ul>
            <button id="searchButton"><b>Tìm Kiếm <i class="fa fa-search" aria-hidden="true"></i></button>
            </form>

        </div>

        <div id="DIV_1"  data-aos="fade-up" data-aos-duration="1000" >
          <center><span style="font-size:25px; margin-top:20px; font-family:Helvetica"><br/><br/>Danh Sách Phòng Tại Các Thành Phố Được Tìm Kiếm Nhiều</span></center>
          <center>
    <div id="DIV_5">
      <div class="outer_div">
  		<div id="DIV_6");>
  			<a href="/Thành phố Đà Nẵng" id="A_7" ><span style="color:white; font-size:28px;"><b><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/>Đà Nẵng</b></span></a>
  		</div>
    </div>
  		<div id="DIV_9">
  			<a href="/Thành phố Hồ Chí Minh" id="A_10"><span style="color:white; font-size:28px;"><b><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/>Hồ Chí Minh</b></span></a>
  		</div>
  		<div id="DIV_12">
  			<a href="/Tỉnh Thừa Thiên Huế" id="A_13""><span style="color:white; font-size:28px;"><b><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/>Huế</b></span></a>
  		</div>
  		<div id="DIV_15">
  			<a href="/Tỉnh Khánh Hòa" id="A_16" ;"><span style="color:white; font-size:28px;"><b><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/>Nha Trang</b></span></a>
  		</div>
      <div id="DIV_18">
        <a href="/Tỉnh Lâm Đồng" id="A_13" ;"><span style="color:white; font-size:28px;"><b><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/>Đà Lạt</b></span></a>
      </div>
      <div id="DIV_21">
        <a href="/Tỉnh Bà Rịa - Vũng Tàu" id="A_13" ;"><span style="color:white; font-size:28px;"><b><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/>Vũng Tàu</b></span></a>
      </div>
      <div id="DIV_24">
        <a href="/Tỉnh Kiên Giang" id="A_13" ;"><span style="color:white; font-size:28px;"><b><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/>Phú Quốc</b></span></a>
      </div>

      <div id="DIV_27">
        <a href="/Thành phố Cần Thơ" id="A_16" ;"><span style="color:white; font-size:28px;"><b><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/>Cần Thơ</b></span></a>
      </div>
    </center>


  	</div>
  </div>

        <div class="maindiv">
          <div class="row">
    <div class="col-md-1">
    </div>
		<div class="col-md-7" data-aos="fade-up"
     data-aos-duration="1000" >
      <h5 style="font-family: arial; margin-top: 20px; color:green;">KHÁCH SẠN, CĂN HỘ, PHÒNG TRỌ</h5>
			<hr/>
			<div id="danhsachphongtro">
			</div>
			<script src="xulyreact.js" type="text/babel"></script>
		</div>
    <div data-aos="fade-up"
     data-aos-duration="1000" class="col-md-4" ><!-- trang tin tức(content3) -->
      <br/>

          <div class="danhmucchothue" style=" width:80%; background-color:#FFEFD5	; margin-left:18px; padding:10px;">
            <h5 style="color: #3D4D65;margin-left:14px">Danh Mục Cho Thuê</h5>
            <hr style="margin:5px"/>
            <a href="" style="color:green" ><i style="color:green" class="fa fa-home"></i> Cho thuê phòng trọ tại Hồ Chí Minh</a><br/>
            <a href="" style="color:green"><i style="color:green" class="fa fa-home"></i> Cho thuê cặn hộ tại Hồ Chí Minh</a><br/>
            <a href="" style="color:green"><i style="color:green" class="fa fa-home"></i> Cho thuê căn hộ tại Hà Nội</a><br/>
           <a href="" style="color:green"><i style="color:green" class="fa fa-home"></i> Cho thuê phòng trọ tại Hà Nội</a><br/>
            <a href="" style="color:green"><i style="color:green" class="fa fa-home"></i> Cho thuê phòng trọ tại Đà Nẵng</a><br/>
            <a href="" style="color:green"><i style="color:green" class="fa fa-home"></i> Cho thuê căn hộ tại Đà Nẵng</a> <br/>
            <a href="" style="color:green"><i style="color:green" class="fa fa-home"></i> Cho thuê phòng trọ tại Cần Thơ</a><br/>
            <a href="" style="color:green"><i style="color:green" class="fa fa-home"></i> Cho thuê căn hộ tại Cần Thơ</a> <br/>
      </div>

      <br/>
        <img src="anh/background1.png" width="80%" style="margin-left:20px">
        <p></p>
        <img src="anh/background2.png" width="80%" style="margin-left:20px">
        <p></p>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
      <script type="text/javascript">var scrolltotop={setting:{startline:100,scrollto:0,scrollduration:1e3,fadeduration:[500,100]},controlHTML:'<img src="https://i1155.photobucket.com/albums/p559/scrolltotop/arrow34.png" />',controlattrs:{offsetx:5,offsety:5},anchorkeyword:"#top",state:{isvisible:!1,shouldvisible:!1},scrollup:function(){this.cssfixedsupport||this.$control.css({opacity:0});var t=isNaN(this.setting.scrollto)?this.setting.scrollto:parseInt(this.setting.scrollto);t="string"==typeof t&&1==jQuery("#"+t).length?jQuery("#"+t).offset().top:0,this.$body.animate({scrollTop:t},this.setting.scrollduration)},keepfixed:function(){var t=jQuery(window),o=t.scrollLeft()+t.width()-this.$control.width()-this.controlattrs.offsetx,s=t.scrollTop()+t.height()-this.$control.height()-this.controlattrs.offsety;this.$control.css({left:o+"px",top:s+"px"})},togglecontrol:function(){var t=jQuery(window).scrollTop();this.cssfixedsupport||this.keepfixed(),this.state.shouldvisible=t>=this.setting.startline?!0:!1,this.state.shouldvisible&&!this.state.isvisible?(this.$control.stop().animate({opacity:1},this.setting.fadeduration[0]),this.state.isvisible=!0):0==this.state.shouldvisible&&this.state.isvisible&&(this.$control.stop().animate({opacity:0},this.setting.fadeduration[1]),this.state.isvisible=!1)},init:function(){jQuery(document).ready(function(t){var o=scrolltotop,s=document.all;o.cssfixedsupport=!s||s&&"CSS1Compat"==document.compatMode&&window.XMLHttpRequest,o.$body=t(window.opera?"CSS1Compat"==document.compatMode?"html":"body":"html,body"),o.$control=t('<div id="topcontrol">'+o.controlHTML+"</div>").css({position:o.cssfixedsupport?"fixed":"absolute",bottom:o.controlattrs.offsety,right:o.controlattrs.offsetx,opacity:0,cursor:"pointer"}).attr({title:"Scroll to Top"}).click(function(){return o.scrollup(),!1}).appendTo("body"),document.all&&!window.XMLHttpRequest&&""!=o.$control.text()&&o.$control.css({width:o.$control.width()}),o.togglecontrol(),t('a[href="'+o.anchorkeyword+'"]').click(function(){return o.scrollup(),!1}),t(window).bind("scroll resize",function(t){o.togglecontrol()})})}};scrolltotop.init();</script>
      <noscript>Not seeing a <a href="https://www.scrolltotop.com/">Scroll to Top Button</a>? Go to our FAQ page for more info.</noscript>


		</div>



  </div>



	</div>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

  <%- include('./partials/footer.ejs') %>






</body>
</html>
